<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BasicControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE5F2BFF1DD5A17A0077269E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE5F2C131DD5A17A0077269E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE5F2C1E1DD5A17B0077269E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
